.Checkbox_New_Wrapper {
  cursor: pointer;
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;

  .Checkbox_New {
    width: 20%;
    border: 3px solid black;
    width: 1.5rem;
    aspect-ratio: 1/1;
    background-color: var(--blue);
    border-radius: 10px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .Checkbox_New_Clicked {
    background-color: var(--pink);
  }


}

.Checkbox_Label {
  width: 80%;

  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .Checkbox_New_Wrapper {
    align-items: flex-start;
  }
}