// TriangleStack.scss
.triangle-container {
    position: relative;
    width: 40px;
    height: 62px;
    margin: 50px auto;
  
    .Triangle-1 {
      position: absolute;
      width: 100%;
      height: 100%;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-duration: 4s;
animation-name: moveUpAndDown;
    //   animation: moveUpAndDown 10s ease-in-out infinite;

      pointer-events: none;
      z-index: 10;
      animation-timing-function: cubic-bezier(.84,0,.16,1);
    }
  
    .Triangle-2 {
      position: absolute;
      width: 100%;
      height: 100%;
      animation-name: moveUpAndDownWithOpacity;
      animation-duration: 4s;
    //   animation: moveUpAndDownWithOpacity 10s ease-in-out infinite;
      z-index: 9;
      animation-timing-function: cubic-bezier(.84,0,.16,1);
      animation-iteration-count: infinite;


    }
  
    .Triangle-3 {
      position: absolute;
      width: 100%;
      height: 100%;
      animation-name: moveUpAndDownWithOpacity ;
      animation-delay: .45s;
      animation-iteration-count: infinite;

     animation-duration: 4s;
    //   animation: moveUpAndDownWithOpacity 10s ease-in-out infinite;
      z-index: 8;
      animation-timing-function: cubic-bezier(.84,0,.16,1);
    }
  
    .Triangle-4 {
      position: absolute;
      width: 100%;
      height: 100%;
           animation-duration: 4s;
      animation-name: moveUpAndDownWithOpacity;
      animation-iteration-count: infinite;
      animation-delay: .55s;
      z-index: 7;
      animation-timing-function: cubic-bezier(.84,0,.16,1);
    }
  
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  @keyframes moveUpAndDown {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
  
    25% {
      transform: rotate(180deg);
    }
  
    48% {
      transform: translateY(-100px) rotate(180deg);
    }
  
    62% {
      transform: translateY(-100px) rotate(0deg);
    }
  
    100% {
      transform: translateY(0px) rotate(0deg);
    }
  }
  
  @keyframes moveUpAndDownWithOpacity {
    0% {
      transform: translateY(0px) rotate(0deg);
      opacity: 1;
    }
  
    25% {
      transform: rotate(180deg);
      opacity: 1;
    }
  
    48% {
      transform: translateY(-100px) rotate(180deg);
      opacity: 0;
    }
  
    62% {
      transform: translateY(-100px) rotate(0deg);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px) rotate(0deg);
      opacity: 1;
    }
  }
  