.card {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
    padding: 1.5rem;
    
    // height: 50%;
   
    .question {
      font-weight: 800;
      font-size: 1.6rem;
      font-family: P_Bold;

    }
  
    .sub-question {
      font-weight: lighter;
      margin-top: 0.75rem;
      // width: 50%;
      font-size: 0.6rem;
    }
    @media (max-width:767px) {
      // height: auto;
      // margin: 1rem;
      box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
      .question {
        font-size: 1.2rem; /* Adjust the font size for mobile */
    }
  }
  }
  